<footer class="site-footer box-shadow" style="background-color: rgba(0,0,0,0.03)" >

    <!-- Contact -->
    {% if current_language == "nl" %}

    <div class="footer-copyright text-center py-3" style="margin-top: 10px">Vragen?
        Contacteer ons <a href="mailto://{{ contact_mail }}">via mail</a> of <a href="{{ url_for('contact') }}">via formulier</a>!
    </div>

    {% else %}

    <div class="footer-copyright text-center py-3" style="margin-top: 10px">Questions?
        Contact us <a href="mailto://{{ contact_mail }}">by mail</a> or <a href="{{ url_for('contact') }}">by form</a>!
    </div>

    {% endif %}

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="padding-bottom: 0px; margin-bottom: 0px">
        © Universiteit Antwerpen
    </div>

</footer>
