<div class="text-center">
    <h1 class="display-4">
        ESP UAntwerpen
    </h1>
    <p style="font-size: 1.25rem">
        As a Computer Science student you can browse this website to look for a suitable <strong>thesis</strong> or <strong>internship</strong>.
        <strong>Deadlines</strong> for registration and submission can be found on the appropriate Blackboard pages.
        All available theses and internships are on the Projects page.
        <br>
        Guidelines are in the
        <strong>
            official documents below.
        </strong>
    </p>

    <h3>
        Registration Info
    </h3>
    <p>
        In order to be covered by the University of Antwerp insurance, it is mandatory to register your internship according
        to the proper procedure.
        Start the <strong>registration</strong> through
        <strong>
        <u>
            <a href="https://studhelp.uantwerpen.be/ro_helpdesk/knowledgebase.php?article=229">
                SisA (Request Mobility/Internship)
            </a>
        </u>
    </strong>
        <br>
        Please make sure to finalise the registration procedure (including the upload of all mandatory documents)
        at the latest <strong>2 weeks before</strong> the actual start of your internship.
        The mandatory documents are generated through this application process.
        <strong>
        If your registration is not finalised before the actual start of your traineeship, your insurance will not be
        valid and you are NOT allowed to start the internship.
        </strong>
    </p>

    <br>
</div>

<div class="card-deck my-4 text-center">
    <div class="card">
        <div class="card-header">
            <h4 class="my-0">
                External internships
            </h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <a href="get-document/Stageovereenkomst-NL.docx">
                        Stageovereenkomst
                    </a>
                </li>
                <li>
                    <a href="get-document/werkpostfiche-NL.doc">
                        Risicoanalyse en werkpostfiche
                    </a>
                </li>
                <li>
                    <hr/>
                    <a href="get-document/Stageovereenkomst-EN.docx">
                        Internship contract
                    </a>
                </li>
                <li>
                    <a href="get-document/werkpostfiche-EN.doc">
                        Worksite form
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="my-0">
                Master thesis
            </h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <a href="get-document/MA-INF-RichtlijnenMasterproef.pdf" target="_blank">
                        Richtlijnen
                    </a>
                </li>
                <li>
                </li>
                <li>
                    <a data-toggle="collapse" href="#master-forms">
                        Beoordelingsformulieren
                    </a>
                    <div class="collapse" id="master-forms">
                        <ul class="list-unstyled">
                            <li>
                                <hr/>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-FormeelModel.docx">
                                    Formeel model
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Gevalsanalyse.docx">
                                    Gevalsanalyse
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Haalbaarheidsstudie.docx">
                                    Haalbaarheidsstudie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Literatuurstudie.docx">
                                    Literatuurstudie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-ProcesEvaluatie.docx">
                                    Proces evaluatie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Simulatie.docx">
                                    Simulatie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-VergelijkendeStudie.docx">
                                    Vergelijkende studie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-AdHoc.docx">
                                    AdHoc
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <hr/>
                    <a href="get-document/MA-CoS-GuidelinesMasterThesis.pdf" target="_blank">
                        Guidelines
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#master-forms-en">
                        Assessment Forms
                    </a>
                    <div class="collapse" id="master-forms-en">
                        <ul class="list-unstyled">
                            <li>
                                <hr/>
                            </li>
                            <li>
                                <a>
                                    Formal model (Not Available)
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-CaseStudy.docx">
                                    Case study
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-FeasibilityStudy.docx">
                                    Feasibility study
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-LiteratureStudy.docx">
                                    Literature study
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-ProcessEvaluation.docx">
                                    Process evaluation
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-Simulation.docx">
                                    Simulation
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-ComparativeStudy.docx">
                                    Comparative study
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-AdHoc.docx">
                                    AdHoc
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


