<div class="text-center">
 <h1 class="display-4">
  ESP UAntwerpen
 </h1>
 <p style="font-size: 1.25em;">
  Als student Informatica kan je deze website gebruiken om te zoeken naar een geschikte thesis of stage.
  <br/>
  Deadlines voor registratie en indiening zijn te vinden op de geschikte Blackboard pagina's.
  <br/>
  Alle beschikbare thesissen en stages staan op de Projecten pagina.
  <br/>
  Richtlijnen in de
  <strong>
    onderstaande officiële documenten.
  </strong>
 </p>
</div>
<div class="card-deck my-4 text-center">
 <div class="card">
  <div class="card-header">
   <h4 class="my-0">
    Externe stages
   </h4>
  </div>
  <div class="card-body">
   <ul class="list-unstyled">
    <li>
     <a href="get-document/Stageovereenkomst-NL.docx">
      Stageovereenkomst
     </a>
    </li>
    <li>
     <a href="get-document/werkpostfiche-NL.doc">
      Risicoanalyse en werkpostfiche
     </a>
    </li>
    <li>
     <hr/>
     <a href="get-document/Stageovereenkomst-EN.docx">
      Internship contract
     </a>
    </li>
    <li>
     <a href="get-document/werkpostfiche-EN.doc">
      Worksite form
     </a>
    </li>
   </ul>
  </div>
 </div>
 <div class="card">
  <div class="card-header">
   <h4 class="my-0">
    Master thesis
   </h4>
  </div>
  <div class="card-body">
   <ul class="list-unstyled">
    <li>
     <a href="get-document/MA-INF-RichtlijnenMasterproef.pdf" target="_blank">
      Richtlijnen
     </a>
    </li>
    <li>
    </li>
    <li>
     <a data-toggle="collapse" href="#master-forms">
      Beoordelingsformulieren
     </a>
     <div class="collapse" id="master-forms">
      <ul class="list-unstyled">
       <li>
        <hr/>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-FormeelModel.docx">
         Formeel model
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Gevalsanalyse.docx">
         Gevalsanalyse
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Haalbaarheidsstudie.docx">
         Haalbaarheidsstudie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Literatuurstudie.docx">
         Literatuurstudie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-ProcesEvaluatie.docx">
         Proces evaluatie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Simulatie.docx">
         Simulatie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-VergelijkendeStudie.docx">
         Vergelijkende studie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-AdHoc.docx">
         AdHoc
        </a>
       </li>
      </ul>
     </div>
    </li>
    <li>
     <hr/>
     <a href="get-document/MA-CoS-GuidelinesMasterThesis.pdf" target="_blank">
      Guidelines
     </a>
    </li>
    <li>
     <a data-toggle="collapse" href="#master-forms-en">
      Assessment Forms
     </a>
     <div class="collapse" id="master-forms-en">
      <ul class="list-unstyled">
       <li>
        <hr/>
       </li>
       <li>
        <a>
         Formal model (Not Available)
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-CaseStudy.docx">
         Case study
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-FeasibilityStudy.docx">
         Feasibility study
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-LiteratureStudy.docx">
         Literature study
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-ProcessEvaluation.docx">
         Process evaluation
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-Simulation.docx">
         Simulation
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-ComparativeStudy.docx">
         Comparative study
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-AdHoc.docx">
         AdHoc
        </a>
       </li>
      </ul>
     </div>
    </li>
   </ul>
  </div>
 </div>
</div>
<div class="text-center">
<h4> Registratie</h4>
<p>
Vanaf academiejaar 2019-2020 worden stages (ALLE onderzoeksprojecten en master thesissen vallen hier onder) 
administratief opgevolgd via een online registratieprocedure. 
<p>
Je start de registratie op via 
<u><a href="https://studhelp.uantwerpen.be/inschrijvingen/knowledgebase.php?article=374">
SisA (Aanvragen-Mobiliteit-Aanvraag van Mobiliteit/Stage)</a></u> 
en vervolledigt het proces via Mobility Online.  

In Mobility Online is dit proces opgebouwd als een flow, die je stap per stap gidst door de stageadministratie. 

Je ontvangt alle nodige documenten via het stappenplan in Mobility Online.
<P>
Zorg ervoor dat je het administratieve proces voltooid hebt uiterlijk 3 weken vóór de start van de stage. 

Pas na voltooiing van alle stappen krijg je de finale goedkeuring om met de stage te starten. 
<P><strong>
Enkel bij finale goedkeuring ben je verzekerd als stagiair.</strong>
 </p>
</div>

