{% extends "layout.html" %}

{% block title %}Mails{% endblock %}

{% block head %}

    <script src="{{ url_for('static', filename='js/lib/bootstrap-select.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-select.min.css') }}">

    <script src="/static/js/admin_mail.js"></script>

{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-center">Admin Mail</h1>

    <i style="color: grey;">Mail content</i>
    <textarea style="width: 100%; height: 250px">
    </textarea>

    <select multiple class="selectpicker w-auto" name="ontvangers" title="Ontvangers"></select>

    <button type="button" class="btn btn-primary float-right">Verstuur mail</button>

</div>

{% endblock %}
