{% extends "layout.html" %}

{% set nav_projects = "active" %}

{% block title %}Projects{% endblock %}

{% block head %}

    {% assets "projects" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script src="{{ url_for('static', filename='js/lib/bootstrap-select.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-select.min.css') }}">

{% endblock %}

{% block content %}

    <div id="container" class="container">

        <div class="row">

            <div class="col-md-auto">
                <form class="form-inline col-auto w-100 p-0">

                    {% if current_theme == "dark" %}
                        <input class="form-control bg-dark border-secondary" type="search"
                               placeholder="Search"
                               aria-label="Search" id="search_text" onkeypress="searchOnEnter(event)"
                               style="color: white; width:73% !important; margin-bottom: 2px;">
                    {% else %}
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                               id="search_text" onkeypress="searchOnEnter(event)"
                               style="width:73% !important; margin-bottom: 2px;">
                    {% endif %}
                    <button form="" autofocus class="btn search-button-color my-sm-0" onclick="search()"
                            id="search_submit" type="submit"
                            style="width:25% !important; margin-left: 2% !important; margin-bottom: 2px !important;">
                        &#x1F50D;
                    </button>

                </form>
            </div>


            <div class="col text-left">
                <button id="reset-search" class="btn light-button-color" onclick="resetSearch()" style="display: none;">
                    Reset Search
                </button>
                <button class="btn light-button-color" onclick="filterExtend()">Project Filter</button>
            </div>


            <div class="col-auto text-right">

                {% if current_user.is_authenticated and current_user.role != "student" %}
                    <button type="submit" id="submitbutton"
                            onclick="location.href='{{ url_for('projects.project_page') + "?new=true" }}'"
                            class="btn light-button-color">{{ get_text("Add project") }}</button>
                {% endif %}

                <button type="button" class="btn light-button-color" id="editModalButton" data-toggle="modal"
                        data-target="#editModal">
                    {{ get_text("Edit") }}
                </button>

                <button type="button" class="btn light-button-color" id="selectAllButton">
                    {{ get_text("Select all") }}
                </button>

                <button type="button" class="btn light-button-color" id="showDescriptionsButton">
                    {{ get_text("Show descriptions") }}
                </button>

            </div>
        </div>

        <div class="text-center mt-3" id="filter" style="display: none;">

            <select name="research" id="research-group-filter" class="selectpicker w-auto" multiple
                    title="{{ get_text("Choose-Research-Groups") }}"></select>

            <select name="type" id="type-filter" class="selectpicker w-auto" multiple
                    title="{{ get_text("Choose-Types") }}"></select>

            <br>

        <div class="form-inline justify-content-center">
            <input class="form-control d-inline my-2 mr-1" type="search"
                   placeholder="(Co-)Promotor/Mentor" autocomplete="off" list="employees-list"
                   aria-label="Search" id="search_promotor">

            <button class="btn search-button-color w-auto" onclick="onClickFilterPromotor()"
                     type="submit">&#x1F50D</button>

        </div>
            <datalist id="employees-list">
            </datalist>

                <br>

                <input type="checkbox" id="full-filter" onchange="onChangeAvailableProjectsFilter(this)">
                <label for="full-filter">Only Available Projects</label>

                {% if current_user.is_authenticated and current_user.role == "student" %}
                    <input type="checkbox" id="liked-filter" onchange="onChangeLikedFilter(this)">
                    <label for="liked-filter">Likes</label>
                {% endif %}

            </div>

            <!-- Modal for editing -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document">

                    {% if current_theme == "dark" %}
                        <div class="modal-content bg-dark">
                    {% else %}
                        <div class="modal-content">
                    {% endif %}

                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="dropdown">
                            <button id="add-selector" class="btn light-button-color dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ get_text("Add") }}
                            </button>

                            <!-- Dropdown items -->
                            <div class="dropdown-menu" id="add-selector-menu" aria-labelledby="add-selector">
                                <a class="dropdown-item">{{ get_text("Employee") }}</a>
                                <a class="dropdown-item">Type</a>
                                <a class="dropdown-item">Tag</a>
                            </div>
                        </div>

                        <div id="add-entries">

                        </div>

                        <hr>
                        <div class="dropdown">
                            <button id="remove-selector" class="btn light-button-color dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ get_text("Remove") }}
                            </button>

                            <!-- Dropdown items -->
                            <div class="dropdown-menu" id="remove-selector-menu" aria-labelledby="remove-selector">
                                <a class="dropdown-item">{{ get_text("Employee") }}</a>
                                <a class="dropdown-item">Type</a>
                                <a class="dropdown-item">Tag</a>
                            </div>
                        </div>

                        <div id="remove-entries">

                        </div>

                        <hr>
                        <h5>{{ get_text("Replace") }}</h5>

                        <div class="row align-items-center">
                            <div class="col-4">
                                <span>{{ get_text("Research Group") }}</span>
                            </div>
                            <div class="col-8 text-right">
                                <select class="selectpicker show-menu-arrow" style='width: 100%; max-width: 150px;'
                                        id="edit-group-selector"></select>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-4">
                                <span>{{ get_text("Active status") }}</span>
                            </div>
                            <div class="col-8 text-right">
                                <select style='width: 100%; max-width: 150px;' class="selectpicker show-menu-arrow"
                                        id="active-status-selector">
                                    <option value="Don't change">{{ get_text("Dont change") }}</option>
                                    <option value="Active">{{ get_text("Active") }}</option>
                                    <option value="Non active">{{ get_text("Non active") }}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <span id="modal-info"></span>
                        <button type="button" class="btn light-button-color"
                                data-dismiss="modal">{{ get_text("Close") }}</button>
                        <button type="button" class="btn light-button-color"
                                id="saveChangesButton">{{ get_text("Save changes") }}</button>

                    </div>
                    </div>
                    </div>
                </div>

                <br>

                <div id="loading-spinner" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">{{ get_text("Loading") }}</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col" id="navigatorcol"></div>

                    <div class="col-auto">
                        {% if current_theme == "dark" %}
                            <select class="form-control bg-dark text-white border-secondary" id="amount-selector"
                                    onchange="selectorOnClick(this)">
                        {% else %}
                            <select class="form-control" id="amount-selector" onchange="selectorOnClick(this)">
                        {% endif %}

                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="All">{{ get_text("All") }}</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        {% if current_theme == "dark" %}
                            <select class="form-control bg-dark text-white border-secondary w-auto float-right"
                                    id='orderBy'
                                    name='orderBy' onchange="filterProjects()">
                        {% else %}
                            <select class="form-control w-auto float-right" id='orderBy' name='orderBy'
                                    onchange="filterProjects()">
                        {% endif %}
                        <option value="recommended">{{ get_text("Recommended") }}</option>
                        <option value="popular">{{ get_text("Most popular") }}</option>
                        <option value="AZ">A - Z</option>
                        <option value="ZA">Z - A</option>
                        <option value="newest">{{ get_text("Newest filter") }}</option>
                        <option value="oldest">{{ get_text("Oldest filter") }}</option>
                        </select>
                    </div>
                </div>

                <div id="accordion" class="accordion"></div>
            </div>

        </div>


{% endblock %}